<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="icon" type="image/svg+xml" href="favicon.svg">
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
