.box {
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

div.table {
  width: min-content;
}

/* stylelint-disable-next-line selector-class-pattern */
:global(.MuiTableCell-root).missing {
  font-weight: 800;
  color: rgb(63  1  4);
  background-color: rgb(245 210 210);
}

/* stylelint-disable-next-line selector-class-pattern */
:global(.MuiTableCell-root).oldest {
  color: var(--color-primary-dark);
  background-color: var(--color-primary-light);
}

/* stylelint-disable-next-line selector-class-pattern */
:global(.MuiTableCell-root) .partial {
  color: rgb(150 29 29);
}
