.tooltip {
  font-size: 75%;
  padding: 0.5rem 1rem;
}

.content {
  margin: 0;
  padding: 0;
}

.header {
  margin: 0 0 0.1rem;
  padding: 0;
  text-transform: uppercase;
  font-size: 140%;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.subheader {
  margin: 0 0 1rem;
  text-transform: capitalize;
  font-size: 110%;
}

.data {
  margin: 0;
  padding: 0 0 0.1rem;
  line-height: 1.5;
}

.data:last-of-type {
  padding: 0;
}

.value {
  font-weight: bold;
}
