.code {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

.code > * {
  flex: 1 0 calc((100% - 5rem) / 4);
}

.code > :last-of-type {
  margin-bottom: 2rem;
}

.code.one-col {
  flex-direction: column;
  gap: 0;
}

.code.one-col * {
  width: 100%;
}

.code.two-cols {
  justify-content: space-around;
}

.result {
  padding-top: 1rem;
}

.result h6 {
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 0.0075em;
  margin: 1rem 0 0.25rem;
}

.result h6:first-of-type {
  margin-top: 0;
}

@media screen and (max-width: 1200px) {
  .code {
    flex-direction: column;
    align-items: center;
  }
}
