.main {
  display: flex;
  box-sizing: content-box;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-weight: var(--font-weight-thin);
}

.h1 {
  font-weight: var(--font-weight-normal);
}

.anchor {
  color: var(--color-main);
}

.box {
  padding: 2rem 4rem;
  border-radius: 4px;
  box-shadow: 0 3px 3px -2px rgb(0 0 0 / 20%), 0 3px 4px 0 rgb(0 0 0 / 14%), 0 1px 8px 0 rgb(0 0 0 / 12%);
}

.magnifier {
  width: 80%;
  aspect-ratio: 1 / 1;
  display: block;
  margin: 1rem auto;
}
