.main {
  width: 75vw;
  align-self: center;
  height: 100%;
  display: flex;
  align-items: center;
}

.paper {
  padding: 2rem;
  width: 100%;
  text-align: center;
}

.header {
  font-size: 600%;
}

@media screen and (max-width: 1200px) {
  .main {
    width: auto;
  }
}
