.subtitle-heading {
  margin: 0;
}

.subtitle {
  margin-top: 0;
  margin-bottom: 2rem;
}

.switchbox {
  gap: 2vw;
  margin-bottom: 1rem;
}

:global(.recharts-responsive-container) {
  transform: translateX(-30px);
}
