.qr-wrapper {
  display: flex;
  flex-wrap: nowrap;
  gap: 2rem;
  margin: 4rem auto 0;
  justify-content: space-around;
  width: 80%;
}

.image-container {
  flex: 0 1 25%;
}

.image {
  object-fit: contain;
  opacity: 0;
  animation: opacity 1s forwards;
}

.image-container:nth-of-type(1) .image {
  animation-delay: 500ms;
}

.image-container:nth-of-type(2) .image {
  animation-delay: 2s;
}

.image-container:nth-of-type(3) .image {
  animation-delay: 3500ms;
}

@keyframes opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
