@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Nabla&display=swap");
@import url("https://fonts.googleapis.com/css?family=Material+Icons+Two+Tone&display=swap");

:root {
  --color-main: rgb(20  20  20);
  --color-main-light: rgb(92 92  92);
  --color-disabled: rgb(206 206 206);
  --color-disabled-light: rgb(245 245 245);
  --color-dark-white: rgb(238 238 238);
  --color-primary: #0284fe;
  --color-primary-dark: #01408f;
  --color-primary-light: #eef7ff;
  --color-secondary: #36ab80;
  --color-secondary-dark: #297e5f;
  --color-secondary-light: #d0eddf;
  --font-weight-thin: 100;
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  /* transition defauls */
  --transition-delay: 0;
  --transition-func: ease-in-out;
  --transition-duration: 0.4s;

  font-family: Roboto, sans-serif;
  font-size: 20px;
  color: var(--color-main);
  font-weight: var(--font-weight-normal);
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

h1,
h2,
h3 {
  font-weight: 200;
  margin: 0;
}

h1 {
  font-size: 3rem;
  margin: 0 0 0.75rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

p {
  margin: 0.25rem;
}
