.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px dotted var(--color-primary);
  height: 2rem;
}

@media screen and (max-width: 760px) {
  .footer {
    justify-content: center;
  }
  /* stylelint-disable-next-line selector-class-pattern */
  :global(.MuiButtonBase-root).button {
    display: none;
  }
}
