.app {
  --main-height: 100px;

  display: grid;
  grid-template-rows: min-content minmax(var(--main-height), auto) min-content;
  height: 100vh;
  padding: 1rem;
  box-sizing: border-box;
}

.header {
  padding-bottom: 1rem;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: var(--main-height);
  overflow: hidden;
  overflow-y: auto;
  padding: 0 1rem;
  scroll-behavior: smooth;
}

/* stylelint-disable-next-line selector-class-pattern */
:global(.MuiAlert-root).alert {
  display: none;
}

@media screen and (max-width: 760px) {
  .header,
  .main {
    display: none;
  }

  .app {
    grid-template-rows: minmax(var(--main-height), auto) min-content;
  }

  /* stylelint-disable-next-line selector-class-pattern */
  :global(.MuiAlert-root).alert {
    display: flex;
    align-items: flex-start;
    height: min-content;
  }
}
