.top-paper {
  padding: 0.5rem;
}

.reference {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 0.25rem;
}

h6.buttons-title {
  font-weight: 200;
  font-size: 1rem;
}

.reference-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.property-info {
  padding: 0.5rem 1rem 0;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 200;
}

.percentages {
  font-style: italic;
  color: var(--color-primary);
}
